version: 2
updates:
  # Python dependencies
  - package-ecosystem: "uv"
    directory: "/"
    open-pull-requests-limit: 5
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
    cooldown:
      default-days: 7

  # Docker dependencies
  - package-ecosystem: "docker"
    directory: "/"
    open-pull-requests-limit: 5
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
    cooldown:
      default-days: 7

  # Compose dependencies
  - package-ecosystem: "docker-compose"
    directory: "/"
    open-pull-requests-limit: 5
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
    cooldown:
      default-days: 7

  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 5
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
    cooldown:
      default-days: 7
