name: Build and Push Docker Image

on:
  push:
    tags:
      - "v*"

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract version from tag
        id: get_version
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
          MAJOR=$(echo $VERSION | cut -d. -f1)
          MINOR=$(echo $VERSION | cut -d. -f2)
          echo "MAJOR=$MAJOR" >> $GITHUB_OUTPUT
          echo "MAJOR_MINOR=$MAJOR.$MINOR" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/bake-action@5be5f02ff8819ecd3092ea6b2e6261c31774f2b4 # v6.10.0
        with:
          source: .
          files: |
            docker-compose.yml
            docker-compose.dev.yml
          targets: exporter
          push: true
          set: |
            exporter.tags=ghcr.io/${{ github.repository }}:${{ steps.get_version.outputs.VERSION }}
            exporter.tags=ghcr.io/${{ github.repository }}:${{ steps.get_version.outputs.MAJOR_MINOR }}
            exporter.tags=ghcr.io/${{ github.repository }}:${{ steps.get_version.outputs.MAJOR }}
            exporter.tags=ghcr.io/${{ github.repository }}:latest
